* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #1c1c1c;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 4.8%;
}    

.logo {
    font-family: Oswald;
    font-size: 25px;
    font-weight: 470;
    letter-spacing: 2px;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #ccccccea;
    transition: 0.3s;
}

nav a:hover,
nav .active {
    color: #ff7b6b;
}

.heading {
    font-family: Oswald;
    font-size: 40px;
    font-weight: 450;
    display: flex;
    justify-content: center;
    color: #ff7b6b;
    padding: 30px;

}

.contact {
    background: #2a2a2a;
    width: 90%;
    margin: 30px auto;
    padding: 100px 0;
    text-align: center;
}
    

.contact h1 {
    color: #ff7b6b;
    letter-spacing: 3px;
    margin-bottom: 50px;
}

/* Grid */
.contact-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 60px;
}

.contact-box h3 {
    margin-bottom: 15px;
    font-size: 14px;
    letter-spacing: 2px;
    color: #aaa;
}

.contact-box2 h3 {
    font-family: Oswald;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 460;
    letter-spacing: 2px;
    color: #ff7b6b;

}

.contact-box2 p {
    color: #ddd;
    line-height: 1.6;
}

.contact-box p {
    color: #ddd;
    line-height: 1.6;
}

.contact-box a {
    color: #aaa;
    text-decoration: none;
}

.contact-box2 a {
    color: #aaa;
    text-decoration: none;
}

.newsletter {
    background: #ff7b6b;
    padding: 50px 20px;
    max-width: 700px;
    margin: 0 auto;
    border-radius: 4px;
}

.newsletter h2 {
    font-family: Oswald;
    margin-bottom: 10px;
    color: rgb(23, 23, 23);
}

.newsletter p {
    margin-bottom: 30px;
    font-size: 14px;
    color: rgb(23, 23, 23);
}

.newsletter form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.newsletter input {
    padding: 12px 0;
    width: 70%;
    outline: none;
    border: none;
    border-bottom: 1px solid;
    background: #ff7b6b;
    font-size: 16px
}

.newsletter input::placeholder {
    color: #000;
    opacity: 0.9;
}

.newsletter button {
    padding: 12px 20px;
    border: none;
    background: #222;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}

.newsletter button:hover {
    background: #000;
}

footer {
    text-align: center;
    letter-spacing: 0.7px;
    padding: 30px;
    font-size: 12px;
    color: white;
}

@media (max-width: 768px) {

    header {
        flex-direction: column;
        gap: 20px;
    }

    nav a {
        margin: 0 10px;
    }

    .contact-grid {
        grid-template-columns: 1fr;
    }

    .newsletter form {
        flex-direction: column;
        gap: 15px;
    }

    .newsletter input {
        width: 100%;
    }
}

.social-icons {
    position: fixed;
    text-align: center;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social-icons a {
    color: white;
    font-size: 21px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #ff7b6b;
}

.chat-support {
    position: fixed;
    bottom: 25px;
    right: 11px;
    width: 55px;
    height: 55px;
    background: #ff7b6b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 13px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: 0.3s;
    z-index: 1000;
}

.chat-support:hover {
    background: #e45c4f;
    transform: scale(1.1);
}

@media (max-width: 1470px) {

    .social-icons {
        position: static;
        transform: none;
        flex-direction: row;
        justify-content: center;
        margin-top: 40px;
    }

}
